<!DOCTYPE html>
<html lang="it">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Catalogo Vini</title>
</head>

<body class="d-flex flex-row">
    <%- include('./partials/sidenav.ejs') %>

    <div class="p-5 w-100">
        <table id="catalogo" class="display w-100 mt-3">
            <thead>
                <tr>
                    <th>Contatto</th>
                    <th>Applicazione</th>
                </tr>
            </thead>
        </table>
    </div>

    <%- include('./partials/bottom_scripts.ejs') %>

    <script type="module">
        import {initUsers} from '/resources/scripts/sidenav.mjs';

        async function initTable() {
            const response = await fetch("http://localhost:8080/api/assistenza")
            .then(response => response.json())
            .then(data => {
                $("#catalogo").DataTable({
                    data,
                    columns: [{
                        data: "contatto",
                    }, {
                        data: "applicazione",
                    } ]
                });
            });
        }

        initUsers();
        initTable();
    </script>
</body>

</html>