<!doctype html>
<html lang="it">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Carrello</title>
</head>

<body class="d-flex flex-row">

    <%- include('./partials/sidenav.ejs') %>

    <div class="p-5 w-100">
        <h1 class="mb-5">Carrello</h1>

        <div id="items" class="mb-5">
            <div id="empty-cart" class="jumbotron jumbotron-fluid p-3 dark bg-secondary text-white">
                <div class="container">
                    <h1 class="display-4">Carrello vuoto!</h1>
                    <p class="lead">Compra qualche vino per riempirlo</p>
                </div>
            </div>
        </div>

        <div class="d-flex w-100 justify-content-end" id="buttons">
            <button type="button" class="btn btn-primary me-5">Compra</button>
            <button type="button" class="btn btn-secondary">Preordina</button>
        </div>

    </div>

    <%- include('./partials/bottom_scripts.ejs') %>

</body>

<script type="module">
    import {initUsers} from '/resources/scripts/sidenav.mjs';
    import {getCookie} from '/resources/scripts/cookie.mjs';

    let carrello;

    async function initCart() {
        if (!getCookie('log-in')) {
            alert("Log-in first!")
            return;
        }

        const response = await fetch(`/api/carrello/${getCookie('log-in')}`)
        .then(response => response.json())
        .then(data => {
            carrello = data;
            data.forEach((element, index) => {
                $('#items').append(
                    `<div class="d-flex justify-content-between mb-3 align-items-center shadow bg-white rounded">
                        <img src="/resources/images/wine.jpg" class="img-thumbnail cart-img img-contain">
                        <div class="row w-100 px-5">
                            <div class="col-sm-5 text-center">
                                <p>${element.vino}</p>    
                            </div>
                            
                            <p class="col-sm-3">€ ${element.prezzo}</p>
                            <div class="w-150px col-sm-4">
                                <input type="number" class="form-control" id="quantita" placeholder="Quantità" value="${element.quantita}">
                            </div>
                        </div>
                        <a href="#" data-index="${index}" class="delete-btn pe-5">
                            <i class="fas fa-trash-alt fa-lg"></i>
                        </a>
                    </div>`
                );
            });

            $('.delete-btn').click(function() {
                deleteItem($(this).data('index'));
            })
        })
    }

    async function deleteItem(index) {
        const response = await fetch(`/api/carrello/modifica`, {
                method: 'POST',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    nome: carrello[index].vino, 
                    quantita: 0, 
                    email: getCookie('log-in')
                })
        });

        location.reload();
    }

    await initUsers();
    await initCart();

    console.log(carrello);
    
    if(!carrello.length) {
        $('#buttons').remove();
    } else {
        $('#empty-cart').remove();
    }
</script>

</html>