<!doctype html>
<html lang="it">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Carrello</title>
</head>

<body class="d-flex flex-row">

    <%- include('./partials/sidenav.ejs') %>

    <div>
        <h1>Carrello</h1>
    </div>

    <%- include('./partials/bottom_scripts.ejs') %>

</body>

<script>
</script>

</html>