<!DOCTYPE html>
<html lang="it">

<head>
    <%- include('./partials/head.ejs') %>

    <title>Hello, world!</title>
</head>

<body class="d-flex flex-row">
    <%- include('./partials/sidenav.ejs') %>

    <div class="p-5 w-100">
        <table id="catalogo" class="display w-100">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Annata</th>
                    <th>Prezzo</th>
                </tr>
            </thead>
        </table>
    </div>

    <%- include('./partials/bottom_scripts.ejs') %>

    <script type="module">
        import {initUsers} from '/resources/scripts/sidenav.mjs';
        import {getCookie} from '/resources/scripts/cookie.mjs';

        async function initTable() {
            const response = await fetch("http://localhost:8080/api/catalogo/vini")
            .then(response => response.json())
            .then(data => {
                $("#catalogo").DataTable({
                    data,
                    columns: [{
                        data: "nome",
                    }, {
                        data: "annata",
                    }, {
                        data: "prezzo",
                    }, ],
                    "createdRow": function (row, data, dataIndex) {
                        $(row).addClass("clickable");
                    }
                });
                
                $("#catalogo").on("click", "tbody tr", function () {
                    window.location.href = encodeURIComponent(this.firstElementChild.textContent.trim());
                });
            });
        }

        initUsers();
        initTable();
    </script>
</body>

</html>