<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>

    <title>Hello, world!</title>
</head>

<body>

    <%- include('./partials/sidenav.ejs') %>

    <%- include('./partials/bottom_scripts.ejs') %>

</body>

</html>