<!DOCTYPE html>
<html lang="it">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Catalogo Vini</title>
  </head>

  <body class="d-flex flex-row">
    <%- include('./partials/sidenav.ejs') %>

    <div class="p-5 w-100">
      <table id="catalogo" class="display w-100 mt-3">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Annata</th>
            <th>Prezzo (€)</th>
          </tr>
        </thead>
      </table>

      <button
        type="button"
        id="ritirato"
        class="btn btn-outline-danger mt-5"
        data-bs-toggle="modal"
        data-bs-target="#aggiungiVino"
      >
        TEST: Aggiungi Vino
      </button>

      <div class="modal fade" id="aggiungiVino" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content p-2">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTitle">
                Aggiungi nuovo vino al catalogo
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>
            <form id="datiInserimento">
              <div class="modal-body">
                <div class="row mb-2">
                  <label for="nome">Nome: </label>
                  <input class="form-control" type="text" id="nome" />
                </div>
                <div class="row mb-2">
                  <label for="descrizione">Descrizione: </label>
                  <textarea class="form-control" id="descrizione"></textarea>
                </div>
                <div class="row mb-2">
                  <label for="annata">Annata: </label>
                  <input
                    class="form-control"
                    type="number"
                    step="1"
                    id="annata"
                    value="2021"
                  />
                </div>
                <div class="row mb-2">
                  <label for="prezzo">Prezzo: </label>
                  <input
                    class="form-control"
                    type="number"
                    step="0.01"
                    id="prezzo"
                  />
                </div>
                <div class="row mb-2">
                  <label for="disponibilita">Disponibilità: </label>
                  <input
                    class="form-control"
                    type="number"
                    step="1"
                    id="disponibilita"
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary" id="modalSubmit">
                  Salva Vino
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('./partials/bottom_scripts.ejs') %>

    <script type="module">
      import { initUsers } from "/resources/scripts/sidenav.mjs";

      async function initTable() {
        const response = await fetch("http://localhost:8080/api/catalogo/vini")
          .then((response) => response.json())
          .then((data) => {
            $("#catalogo").DataTable({
              data,
              columns: [
                {
                  data: "nome",
                },
                {
                  data: "annata",
                },
                {
                  data: "prezzo",
                },
              ],
              createdRow: function (row, data, dataIndex) {
                $(row).addClass("clickable");
              },
            });

            $("#catalogo").on("click", "tbody tr", function () {
              window.location.href = encodeURIComponent(
                this.firstElementChild.textContent.trim()
              );
            });
          });
      }

      async function aggiungiVino(json) {
        const response = await fetch(`/api/gestionale/creaVino`, {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: json,
        });
        if (response.status == 400) {
          response.text().then(function (text) {
            alert(text);
          });
        } else {
          location.reload();
        }
      }

      $("#datiInserimento").submit(function (e) {
        console.log("submittato");
        const dati = JSON.stringify({
          nomeVino: $("#nome").val(),
          annata: $("#annata").val(),
          descrizione: $("#descrizione").val(),
          disponibilita: parseInt($("#disponibilita").val()),
          prezzo: parseFloat($("#prezzo").val()),
        });
        aggiungiVino(dati);
        return false;
      });

      initUsers();
      initTable();
    </script>
  </body>
</html>
